.main1{
    /* border:7px solid red; */
}
.main{
    /* border: solid rgb(15, 14, 14); */
    display: flex;
    gap: 18%;
    /* width:1500px ; */
    margin: auto;

}
.lib{
    /* border: solid rgb(15, 14, 14); */
    display: flex;
    justify-content: center;
    width: 200px;
}
.middle{
    /* border: solid rgb(22, 21, 21); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    gap: 20px;
}
.imd{
    width: 100%;
    border: solid;
}
.search{
    /* border: solid rgb(34, 32, 32); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 20px;
}
.img{
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    gap: 10px;
    width: 100px;
}
.link1{
    /* border: solid; */
    text-decoration: none;
    display: flex;
    gap: 5%;
    justify-content: center;
}
.imz{
    /* border: solid; */
    height: 500px;
    width: 100%;
    background-image: url('class07assignmentcss.jpeg');
}